<h1>CS172 Project Group 1 Part B <u>Input</u></h1>
<hr>
<form action="/output" method = "POST">
    <p><span style="font-weight:bold">Title Query:</span> <input type = "search" placeholder="Enter title query..." name = "query" style="width:300px"/></p>
    <!-- <p><span style="font-weight:bold">Comments Query:</span> <input type = "search" placeholder="Enter comments query..." name = "comments-query" style="width:300px"/></p> -->
    <hr/>
    <p><input type = "submit" name="button" value="Search by document score"/></p>
    <p><input type = "submit" name="button" value="Search by document score ascending post date"/></p>
    <p><input type = "submit" name="button" value="Search by document score descending post date"/></p>
</form>

