<h1>CS172 Project Group 1 Part B Search <u>Output</u></h1>
<hr>
{% for item in lucene_output %}
<div style="padding-bottom:10px">
    <div id="result-header">
        <a href={{item['url']}} id="post-title" style="font-weight:bold; font-size: 24px">{{item['title']}}</a>
    </div>
    <div id="result-contents">
        <div>{{item['post_date']}} – Post Body:{{item['body']}}</div>
        <div>Document Score: {{item['documentScore']}}</div>
        <div>Reddit Post Score: {{item['post_score']}}</div>
    </div>
</div>
<hr>
{% endfor %}

<form action="/input" method = "POST">
    <p><input type = "submit" value = "Search Again" /></p>
</form>